:root {
    --background: #778da9;
    --main: #415a77;
    --hover: #e0e1dd;
    --headings: #1b263b;
    --section: #778da9;
    --border: #0d1b2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 250%;
    letter-spacing: -3px;
    color: var(--headings);
}

h2 {
    font-size: 175%;
    letter-spacing: -2px;
}

h3 {
    font-size: 135%;
    letter-spacing: -1.25px;
}

header {
    min-height: 10vh;
    background-color: var(--background);
    padding-top: 10px;
    padding-left: 10px;
}

main {
    min-height: 80vh;
    background-color: var(--main);
    padding: 10px;
}

footer {
    min-height: 10vh;
    padding: 3vh;
    background-color: var(--background);
    color: var(--headings);
    text-align: center;
}

.navbar {
    background-color: var(--background);
    text-align: right;
    font-weight: bold;
    padding: 0px 10px 10px 10px;
    color: #2830;
}

a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--headings);
}

a:hover {
    color: var(--hover);
    cursor: crosshair;
}

section {
    background: var(--section);
    padding: 10px;
    margin: 1%;
    display: flex;
    flex-direction: row;
}

article {

    display: flex;
    flex-direction: column;
}

.about-me, .contact, .portfolio, .resume {
    height: auto;
    width: auto;
    display: flex;
    flex: 1;
}

.sidehead {
    position: relative;
    display: flex;
    flex: 0 0 200px;
}

img {
    border: 3px solid var(--border);
}

.align {
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.align-pic {
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portrait {
    height: 180px;
    width: auto;
    margin: 0 10px;
}

#description {
    padding: 10px 0;
    position: relative;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.align ul li {
    list-style: none;
    display: inline-block;
}

figure {
    flex-wrap: wrap;
    flex: 1 2 10vh;
}

#large {
    height: 112vh;
    width: 99%;
}

#small {
    height: auto;
    width: 41vh;
}
figure h3 {
    color: var(--background);
    width: 50%;
    text-align: center;
    position: relative;
    top: 50px;
    background: var(--border);
}

figure:hover img, figure:hover h3{
    color: var(--hover);
    box-shadow: 0 0 20px var(--hover);
}

@media screen and (max-width: 992px) { section {
    width: 45%;
} }

@media screen and (min-width:600px) { section {
    width: 97%;
}}